.about {
  display: none;

  color: $font-color;
  background-image: url("../images/pattern.svg") ;
  background-attachment: fixed;
  font-size: 1rem;
  height: 100vh;
  @media (min-width: 800px) {
    font-size: 2rem;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
    height: 50%;
    @media (min-width: 800px) {

    }
  }
  .aboTxt{
    height: 50%;
    letter-spacing: 0.2rem;
    text-align: center;
    line-height: 150%;
    align-self: flex-end;
    overflow: scroll;
  }
  .col-6 {
    //display: flex;
    //align-items: center;
    //flex-direction: column;
    //justify-content: flex-end;
    opacity: 0.8;
    span {
      color: $supporting-color;
      text-transform: uppercase;
      opacity: 1 !important;
    }
  }
}
.photo {
  .col-12 {
    opacity: 1 !important;
    display: flex;
    justify-content: center;
  }
  .myphoto {
    width: 100px !important;
    height: 100px;
    margin: 1rem 0;
    background-image: url("../images/me.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.5);
    align-self: center;
    @media (min-width: 800px) {
      margin-top: 5rem;
      width: 200px !important;
      height: 200px;
    }
  }
}

.namePart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}