.contact {
  height: 100vh;
  background-image: url("../images/pattern.svg") ;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;

      .contactName {
        margin-top: 5rem;
        margin-bottom: 5rem;
        letter-spacing: 0.5rem;
        color: $font-color;
        text-transform: uppercase;
      }

      .contactInfo {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .icon {
        height: 4rem;
        width: 4rem;

        margin: 1rem 1rem;
        opacity: 0.9;
      }
      .icon:hover {
        height: 3.5rem;
        width: 3.5rem;
        opacity: 0.8;
        filter: drop-shadow(5px 5px 30px white);
      }
      .col-12 {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: $font-color;
        }
      }
    }
  }
