.quote {
  font-size: 1.5rem;
  opacity: 0.9;
  align-self: flex-end;
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 250%;

    @media (min-width: 800px) {
      font-size: 2.5rem;
      line-height: 150%;
    }

  span {
    color: $supporting-color;
  }
}