.title{
  text-align: center;
  margin: 75px 0;
  font-weight: 400;
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: #fec010;
  font-size: 4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: rgba(31,31,31,0.9);
}