@import "partials/reset";
@import "partials/clear";
@import "partials/grid";

* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.background {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  flex-wrap: wrap;
}


header {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  //padding: 10px;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  //border: solid 1px red;

  .row {
    display: flex;
    //align-items: center;
    //justify-content: space-between;
    .logo{
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 2rem;
      float: left;
      //line-height: inherit;
      align-self: center;
    }
    .menu {
      font-size: 1.4rem;
      //float: right;
      //display: inline;
      //border: solid 1px blue;
      ul {
        //display: flex;
        //justify-content: flex-end;
        //float: right;
        list-style-type: none;
        //display: inline-block;
        //overflow: hidden;

        li a {
          color: white;
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          float: right;
          display: block;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      li a:hover {
        background-color: #111;

      }
    }
  }
}

.quote {
  //display: none;
  font-size: 3rem;
  opacity: 0.9;
  align-self: flex-end;
  padding-left: 10px;
  ;
  .row {
    //overflow: auto;

    .col-6 {
      //align-self: flex-end;

    }
  }
  span {
    //color: #fcb507;
    color: #fec010;
  }
}

.title{
  text-align: center;
  margin: 75px 0;
  font-weight: 400;
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: #fec010;
  font-size: 3rem;
}

.about {
  height: 100vh;
  font-size: 2rem;
  //.col-12 {
  //  text-align: center;
  //  margin: 75px 0;
  //  font-weight: 400;
  //  opacity: 0.8;
  //  text-decoration: underline;
  //  text-decoration-color: #fec010;
  //}
  .col-6 {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
      span {
        color: #fec010;
      }
  }
}
.photo {
  .col-12 {
opacity: 1 !important;
  }
  .myphoto {
    width: 200px !important;
    height: 200px;
    background-image: url("../images/me.jpg");
    background-size: cover;
    border-radius: 100%;
    box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.5);
  }
}

.skills {
  display: flex;
  align-items: center;
  height: 100vh;
  .container {
    //border: solid 1px green;
  }
  .col-4 {
    height: 25vh;
    width: 33.3%;
    //border: solid 1px red;
   margin-bottom: 15px;
  }
}

.html {
  background-image: url("../images/HTML5_Badge_512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.css {
  background-image: url("../images/css.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.js {
  background-image: url("../images/jss.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.git {
  background-image: url("../images/git.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.jquery {
  background-image: url("../images/jquery.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.react {
  background-image: url("../images/react.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sass {
  background-image: url("../images/sass.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.rwd {
  background-image: url("../images/rwd.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.es6 {
  background-image: url("../images/es6.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

